@using Model = Seedysoft.Libs.GasStationPrices.ViewModels.GasStationModel;

<MudDataGrid @ref="DataGridRef"
             Bordered
             Dense
             Filterable
             FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"
             FilterMode="DataGridFilterMode.ColumnFilterMenu"
             FixedHeader="true"
             Height="450"
             Hover
             Items="Elements"
             Loading="IsLoading"
             ReadOnly
             RowClassFunc="RowClassFuncion"
             RowsPerPage="10"
             SelectedItemChanged="OnSelectedItemChanged"
             ShowFilterIcons="true"
             SortMode="SortMode.Single"
             Striped
             T="Model"
             Virtualize>

    <ColGroup>
        <col style="width: 50%;" />
        @foreach (var item in Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.All)
        {
            var IsHidden = !PetroleumProductsSelectedIds.Contains(item.IdProducto);
            <col hidden="@IsHidden" />
        }
    </ColGroup>

    <Columns>
        <PropertyColumn Property="@(x => x.RotuloTrimed)" Filterable="true" ShowFilterIcon="true" Sortable="true" Title="Rótulo">
            <CellTemplate>
                <span style="white-space: nowrap;">@context.Item.RotuloTrimed</span>
            </CellTemplate>
        </PropertyColumn>

        @{
            HashSet<string> DecimalOperators = new([MudBlazor.FilterOperator.Number.Empty, MudBlazor.FilterOperator.Number.NotEmpty]);
        }

        <PropertyColumn Property="@(x=> x.G95E5)" CellClass="mud-table-cell-align-right" FilterOperators="@DecimalOperators" Hidden="!PetroleumProductsSelectedIds.Contains(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G95E5.IdProducto)">
            <HeaderTemplate>
                <MudTooltip Placement="Placement.Top" ShowOnFocus="false" Text="@(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G95E5.Nombre)">
                    @(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G95E5.Abreviatura)
                </MudTooltip>
            </HeaderTemplate>
        </PropertyColumn>

        <PropertyColumn Property="@(x=> x.G95E5Plus)" CellClass="mud-table-cell-align-right" FilterOperators="@DecimalOperators" Hidden="!PetroleumProductsSelectedIds.Contains(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G95E5Plus.IdProducto)">
            <HeaderTemplate>
                <MudTooltip Placement="Placement.Top" ShowOnFocus="false" Text="@(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G95E5Plus.Nombre)">
                    @(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G95E5Plus.Abreviatura)
                </MudTooltip>
            </HeaderTemplate>
        </PropertyColumn>

        <PropertyColumn Property="@(x=> x.G98E10)" CellClass="mud-table-cell-align-right" FilterOperators="@DecimalOperators" Hidden="!PetroleumProductsSelectedIds.Contains(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G98E10.IdProducto)">
            <HeaderTemplate>
                <MudTooltip Placement="Placement.Top" ShowOnFocus="false" Text="@(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G98E10.Nombre)">
                    @(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G98E10.Abreviatura)
                </MudTooltip>
            </HeaderTemplate>
        </PropertyColumn>

        <PropertyColumn Property="@(x=> x.G98E5)" CellClass="mud-table-cell-align-right" FilterOperators="@DecimalOperators" Hidden="!PetroleumProductsSelectedIds.Contains(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G98E5.IdProducto)">
            <HeaderTemplate>
                <MudTooltip Placement="Placement.Top" ShowOnFocus="false" Text="@(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G98E5.Nombre)">
                    @(Libs.GasStationPrices.Models.Minetur.ProductoPetrolifero.G98E5.Abreviatura)
                </MudTooltip>
            </HeaderTemplate>
        </PropertyColumn>

    </Columns>

    <LoadingContent>
        Loading Content ....
    </LoadingContent>

    <NoRecordsContent>
        No data
    </NoRecordsContent>

    <PagerContent>
        <MudDataGridPager Class="pa-4"
                          ShowNavigation="true"
                          ShowPageNumber="true"
                          T="Model" />
    </PagerContent>

</MudDataGrid>
