@namespace Seedysoft.Libs.GoogleMapsRazorClassLib.GoogleMap

@inherits SeedysoftComponentBase

<ScriptsLoader Async
               Defer
               Id="@($"sl{Id}")"
               OnError="@OnScriptError"
               OnLoad="@OnScriptLoad"
               ScriptId="@($"script{Id}")"
               Source="@GoogleMapsJsFileUrl" />

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
</div>

<div class="alert" id="alert">
    <p>error</p>
    <a href="#" class="close">&times;</a>
</div>
