@namespace Seedysoft.Libs.GoogleMapsRazorClassLib.GoogleMap

@inherits SeedysoftComponentBase

<ScriptsLoader Async="true"
               Class="mt-4"
               Defer="true"
               Id="@($"sl{Id}")"
               OnError="@OnScriptError"
               OnLoad="@OnScriptLoad"
               ScriptId="@($"script{Id}")"
               Source="@GoogleMapsJsFileUrl" />

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
</div>

