@namespace Seedysoft.Libs.GoogleMapsRazorClassLib

@inherits SeedysoftComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" tabindex="-1" @attributes="@AdditionalAttributes">
</div>
