<RealTimeMap @ref="realTimeMap"
             height="@Height"
             width="@Width"
             Parameters="@parameters"
             Options="@options"
             OnAfterMapLoaded="OnAfterMapLoaded"
             OnClickMap="OnClickMap"
             OnDoubleClickMap="OnDoubleClickMap"
             OnZoomLevelEndChange="OnZoomLevelEndChange">

    <StreamLegend contentStyleInitialization="@contentStyle"
                  displayCounter="true" />

</RealTimeMap>

<div>
    <label>Current zoom: @Zoom</label>
</div>